body{
  /*  font-family: arial,helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5; */
    padding: 0; /*extra space within an element*/
    margin: 0; /*extra space around an element*/
    background-color: #f4f4f4;
    font: 15px/1.5 Arial, helvetica, sans-serif;
    /*font: size / line height font-type list;*/
  }

  /* Global*/
  .container{
    width: 80%; /* so as to b responsive*/
    margin:auto; /*moves it to middle*/
    overflow:hidden; /*hide scroll option from div overflow*/

  }
  .button_1{
    padding:10px;
    background-color: #ff4d00;
  /*  height: 35px;
  padding-right: 10px;
  padding-left: 10px;
  */
    border:none;
    color: #fff;
  }

  .darktheme{
    padding:15px;
    background-color:#35424a;
    color:#fff;
    margin:10px 0 10px 0;
  }

   ul{
    margin: 0;
    padding: 0;
  }

  header{
    background-color: #35424a;
    color: #fff;
    padding-top: 70px;
    min-height:70px; /* adjust height of content if smaller */
    border-bottom:#e8491d 3px solid; /*color width style */
  }



  header a{
    color: #fff;
    text-decoration: none; /*removes lines*/
    text-transform: uppercase;
    font-size: 16px;
  }

  header li {
    float:left;
    display:inline;
   padding:0 20px 0 20px; /* top right bottom left*/

  }
  header #branding {
    float:left;
  }

  header #branding h1{
    margin:0;
    text-transform: capitalize;
  }

  header nav{
  float: right;
  margin-top: 10px;
  }

  /* highlight first part of logo name and current page*/
  header .highlight , header .current a{
    color: #e8491d;
    font-weight: bold;
  }

  header a:hover{
    color:#ccc;
    font-weight: bold;
  }

  /* showcase */

  #showcase{
    min-height: 400px;
    background:url("../img/showcase.jpg") no-repeat 0 -400px;
    text-align: center;
    color: #fff;
  }

  #showcase h1{
    margin-top: 100px;
    font-size: 50px;
    margin-bottom: 10px;
  }

  #showcase p{

    font-size: 20px;
  }

  #newsletter{
    padding: 15px;
    background-color:#35424a;
    color:#fff;
  }

  #newsletter h1{
    float:left;
  }

  #newsletter form{
    float:right;
    margin-top:15px;
  }

  #newsletter input[type='email']{
  padding:4px;
  height: 25px;
  width: 250px;
  }

  #boxes{
  margin-top: 40px;

  }

  #boxes .box{
    display: inline-block;
    padding:0 30px 0 30px;
    text-align: center;
    width:25%;
  }

  #boxes .box img{
    width: 35%;
  }

/*side bar */
aside#sidebar{
float:right;
width: 30%;
margin-top:10px;
}

 #main-col{
  float:left;
  width:65%;
}

.quote{
height:210px;
}

.quote input[type="name"],[type="email"]{
  padding: 4px;
  width: 80%;
}

.quote input[type="text"]{
  padding: 4px;
  width: 80%;
  height:40px;
  margin-bottom: 5px;
}

ul#services li{
  /*color type width*/
  border: #cccccc solid 1px;
  background-color: #e6e6e6;
  padding:20px;
  margin-bottom: 5px;
  list-style: none;
}
footer{
  margin-top: 25px;
  background-color: #e8491d;
  color: #fff;
  padding: 10px;
  text-align: center;
}

/*media queries
include a block of CSS properties only if
a certain condition is true*/
/* will use avg tablet size 8 inch -768pixels*/
@media(max-width:768px) {
header #branding, header nav, header li, #newsletter h1, #newsletter form {
  float:none;
  text-align: center;
  width:100%;
}

header{
  padding-bottom:20px;
}

#showcase h1{
//its margin is 100px by default
margin-top:40px;
}

}
